[alias]
    # clone
    cl = clone --recurse-submodules --jobs 4

    # commit
    ca = "!f() { git add --all && git commit \"$@\"; }; f"
    reca = "!f() { git add --all && git commit --amend \"${@:---no-edit}\"; }; f"

    # config
    ec = config --edit --global

    # checkout
    co = checkout
    cob = checkout -b

    # log
    lg = log --graph --pretty=format:'%C(auto)%h -%d %s %C(green)(%cr) %C(bold blue)<%an>'

    # pull
    up = pull --autostash --rebase

    # status
    st = status --branch --short

[color "diff"]
    meta = yellow bold

[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX
    preloadindex = true

[fetch]
    prune = true

[include]
    path = ~/.gitconfig.local

[push]
    default = simple

[user]
    email = {{ .email }}
    name = {{ .name }}

[url "git@github.com:"]
    insteadof = github:

# vim: filetype=gitconfig
